* {
    font-family: 'Courier New', Courier, monospace;
    line-height: 24px;
    vertical-align: middle;
    text-decoration: none;
    color: #000000;
}

body {
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#UI {
    padding: 5%;
    padding-left : 42%;
    padding-right: 42%;
}
#UI > * {
    border: solid 1px #cccccc;
    border-radius: 50%;
    height: 7%;
}
#UI > button:hover {
    transform: scale(1.2, 1.2);
}

table {
    margin-left: auto;
    margin-right: auto;
}
tbody > tr > * {
    padding: 10px;
    border: #8086df solid 5px;
    margin: 0;
}